.chat-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  border: 1px solid #ccc;
  padding: 1rem;
  box-sizing: border-box;
  position: relative;

  p {
    margin: auto;
    font-size: 3rem;
    opacity: 70%;
  }

  .loader {
    margin: auto;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: animate 2s infinite;
  }

  @keyframes animate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }

  .messages {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
  }

  .message {
    max-width: 70%;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    color: white;
    align-self: flex-end;

    &.me {
      background-color: #007bff; // Azul
      align-self: flex-end;
    }

    &.other {
      background-color: #999999; // Cinza
      align-self: flex-start;
    }
  }

  .input-area {
    display: flex;
    gap: 0.5rem;

    input {
      flex: 1;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .btn-submit {
      padding: 0.5rem 1rem;
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
